@model ToDoListMVC.Models.ToDoItem

@{
    ViewData["Title"] = "Create";
}
<div class="card bg-light p-2">

    <h1>Create</h1>

    <h4>ToDo Item</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control border border-1 border-secondary" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                @* <div class="form-group">
                <label asp-for="AppUserId" class="control-label"></label>
                <select asp-for="AppUserId" class ="form-control" asp-items="ViewBag.AppUserId"></select>
                </div> *@
                @* <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
                </div> *@
                <div class="form-group form-check mb-2">
                    <label class="form-check-label">
                        <input class="form-check-input border border-1 border-secondary mb-2" asp-for="Completed" /> @Html.DisplayNameFor(model => model.Completed)
                    </label>
                </div>
                <div>
                    <label asp-for="Accessories" class="control-label"></label>
                    <select name="Selected" class="form-control border border-1 border-secondary mb-2" asp-items="@ViewBag.AccessoriesList" multiple></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
